__pycache__
*.py[cod]
*.pyo
*.pyd

datasets/
dataset/
dataset_*/
*.db
*.sqlite

save/
save_center/
save_new/
logs/
log/
*.csv


env
.venv
venv
*.egg-info
*.egg

.idea
.vscode


inference_results/
visualization/
*.json
*.log