__pycache__
*.py[cod]
*.pyo
*.pyd

data/
data/*
datasets/
dataset/
dataset_*/
driving_data*/
videos/*
*.db
*.sqlite

enhanced*/
save/
save_center/
save_new/
save*/
logs/
log/
*.csv


env
.venv
venv
*.egg-info
*.egg

.idea
.vscode

test*/
inference_results/
visualization/
*.json
*.log

checkpoints/*
carla_steering*
*.pt
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.gz.part
*.pth.tar.gz.part.1

presentation_plots/*


analysis_output/*